<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="https://nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" autoReload="false" internalLogLevel="Warn" internalLogFile="NLog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets>
    <target xsi:type="Console" name="Microsoft.Hosting.Lifetime"
      layout="${longdate} ${level:uppercase=true:padding=5} --- ${logger:padding=-50:fixedLength=true} : 0000000000000:00000000 0.0.0.0 ${message}" />
    <target xsi:type="Console" name="Console"
      layout="${longdate} ${level:uppercase=true:padding=5} --- ${logger:padding=-50:fixedLength=true} : ${aspnet-TraceIdentifier:IgnoreActivityId=true} ${aspnet-request-ip} ${aspnet-Request-Method} ${aspnet-Request-Url} ${message}${exception:format=tostring}" />
    <target xsi:type="Null" name="Blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="Microsoft.Hosting.Lifetime" final="true"/>
    <logger name="Microsoft.AspNetCore.Mvc.*" minlevel="Trace" writeTo="Blackhole" final="true"/>
    <logger name="Microsoft.AspNetCore.Routing.*" minlevel="Trace" writeTo="Blackhole" final="true"/>
    <logger name="Microsoft.AspNetCore.Hosting.*" minlevel="Trace" writeTo="Blackhole">
      <filters>
        <when condition="ends-with('${aspnet-Request-Url}', '/health')" action="LogFinal"/>
        <when condition="contains('${aspnet-Request-Url}', 'swagger')" action="LogFinal"/>
      </filters>
    </logger>
    <logger name="Microsoft.AspNetCore.StaticFiles.*" minlevel="Trace" writeTo="Blackhole" final="true"/>
    <logger name="Microsoft.AspNetCore.DataProtection.*" minlevel="Trace" writeTo="Blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="Console"/>
  </rules>
</nlog>